<script>
    async function addToGarden(plantId){
        const plant_id = plantId;
        try{
            const response = await fetch('/addPlant', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ plant_id: plantId }),
            });
            if (response.ok) {
                window.location.href = '/pages/profile'; //redirect
            }
        }
        catch(error){
            console.error(error);
        }
    }
</script>
<div id="plantInfo-container" class="container w-screen max-w-full flex-none place-content-center">
    <body>
        <h2 id="plant-name"> {{ plant.name }} </h2>
        <img src="{{ plant.img }}"/>
        <div class="overflow-x-auto">
            <table class="table table-zebra">
                <tbody>
                <!-- row 1 -->
                <tr>
                    <th>Light Level</th>
                    <td> {{ plant.lightLevel }}</td>
                </tr>
                  <!-- row 2 -->
                <tr>
                    <th>Ideal Temperature</th>
                    <td> {{ plant.comfTemp }}</td>
                </tr>
                  <!-- row 3 -->
                <tr>
                    <th>Moisture need</th>
                    <td> {{ plant.moistureNeed }}</td>
                </tr>
                  <!-- row 4 -->
                <tr>
                    <th>Size</th>
                    <td> {{ plant.SIZE }}</td>
                </tr>
                  <!-- row 5 -->
                <tr>
                    <th>Lifespan</th>
                    <td> {{ plant.lifespan }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    <button id='add' class="btn" onclick="addToGarden({{plant.plant_id}})">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
        </svg>
    Add to Garden
    </button>
    </body>
</div>