<!-- TODO: randomize plant selection, add links to plant information pages -->
{{> message}}
{{#if plants}}
    <div class="container w-full h-full max-w-full max-h-full flex-none place-content-center">
        <div class="container mx-auto m-10 place-content-center">
            <div class="container mx-auto">
                <h1 class="text-center green-sub-title">Plant Reccommendations</h1>
            </div>

            <div id="reccs_div" class="grid lg:grid-cols-3 md:grid-cols-2 place-content-center">
                {{#each plants}}
                     <div class="card card-compact bg-base-200 w-50 shadow-xl m-10">
                        <figure>
                            <a href="/plantInformation?plant_id={{this.plant_id}}">
                                <img src="{{this.img}}"/>
                            </a>
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">{{this.common_name}}</h2>
                            <div class="card-actions justify-end">
                            </div>
                        </div>
                    </div> 

                    <!-- TEST VERSION -->
                    {{!-- <div class="flex flex-col h-full w-full bg-base-300 rounded-xl">
                        <figure class="flex-grow">
                        <a href="/plantInformation?plant_id={{this.plant_id}}">
                            <img class="object-cover w-full h-full max-w-full max-h-50 rounded-t-xl" src="{{this.img}}" />
                        </a>
                        </figure>
                        <div class="card-body">
                        <h2 class="card-title">{{this.common_name}}</h2>
                        </div>
                    </div> --}}
                {{/each}}
            </div>
        </div>
    </div>

{{else}}
<div class="text-xl font-bold text-gray-900 bg-gray-300 min-h-screen p-5">
    No plant data
</div>
{{/if}}

