
  {{#if plants}}
    <div class="container w-screen max-w-full max-h-full flex-none place-content-center">
        <div class="container mx-auto m-10 place-content-center">
            <div class="container mx-auto">
                <h1 id="plant_reccs_title" class="text-center green-sub-title">Search Results</h1>
            </div>

            <div id="reccs_div" class="grid lg:grid-cols-3 md:grid-cols-4 place-content-center">
                {{#each plants}}
                     <div class="card card-compact bg-base-200 w-50 shadow-xl m-10">
                        <figure>
                            <a href="/plantInformation?plant_id={{this.plant_id}}">
                                <img src="{{this.img}}"/>
                            </a>
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">{{this.common_name}}</h2>
                            <div class="card-actions justify-end">
                              <!--div class="badge badge-outline">Watering: {{this.moistureNeed}}</div>
                              <div class="badge badge-outline">Light Level: {{this.lightLevel}}</div-->
                            </div>
                        </div>
                    </div> 
                {{/each}}
            </div>
        </div>
    </div>
{{else}}
  <div class="text-xl font-bold text-gray-900 bg-gray-300 min-h-screen p-5">
    No plant data
  </div>
    <img class="card-img-bottom" src="/resources/img/leaf_logo.png">
  {{/if}}
